body{
    background-color: white;
    margin: 0;
    padding: 0%;
    position: relative;
    min-height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: #121212;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 44px;
}

h2{
    color: #085437;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

h3{
    color: #121212;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
}

p{
    color: #121212;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    line-height: 21px;
}

button{
    height: 40px;
    width: 120px;
    background-color: rgba(202, 171, 130, 1);
    color: white;
    border-radius: 2px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    padding: 20px 90px;
    height: 64px;
    width: auto;
}

a.logo{
    position: absolute;
    height: 60px;
}

a.logo img{
    height: 100%;
}

ul{
    position: absolute;
    height: 60px;
    width: auto;
    text-transform: uppercase;
    right: 90px;
    margin: 0;
    padding: 0%;;
}

ul .container{
    position: relative;
    height: max-content;
    width: max-content;
    transform: translate(0%, 25%);
}
ul a{
    margin: 0px 20px;
    color: rgba(18, 18, 18, 1);
}

ul li{
    display: inline-block;
}

.slideshow{
    position: absolute;
    width: 100%;
    height: fit-content;
    padding: 0px 90px;
}


.slideshow img{
    width: 100%;
    height: auto;
    z-index: -1;
    position: absolute;
    top: -104px;
    object-fit: cover;
}
